
    <div class="ppal" style="display: flex; flex-direction: row;justify-content: space-around;flex-wrap: wrap;
    gap: 20px;align-items: center; width: 350px; height: fit-content;margin: 40px;">
       
        <div class="card" style="display: flex; flex-direction: column; justify-content: space-around;background-color: var(--bgOrange); border: 3px solid orangered; border-radius: 30px; color:white;
        width: 450px; height: 600px; text-align: center; padding: 20px;">   
            <button type="button" class="close" (click)="deleteBook(bucleBooks)" style=" width: 20px;height: 20px; border: yellow;background-color: rgb(255, 230, 0);
            border-radius: 15px; color:rgb(255, 0, 0); font-weight: bold; font-family: var(--fontRubik); font-size: 15px; margin-bottom: 10px;">X</button>  
                   
            <div >
                <img src="{{bucleBooks.photo}}" alt="">
            </div>
            <div>
                <p class="p">{{bucleBooks.type}}</p>
            </div>
            <div>
                <h2 class="h2">{{bucleBooks.title}}</h2>
                <p class="p">{{bucleBooks.author}}</p>
                <p class="p">Id:{{bucleBooks.id_book | idToString }} </p>
            </div>
            <div >
                <p class="p">{{bucleBooks.price}} €</p>
                <button class="btn" style="border: yellow;
                border-radius: 15px;
                color:rgb(255, 0, 0);
                font-weight: bold;
                font-family: var(--fontRubik);
                font-size: 20px;
                width: 200px;
                height: 40px;
                background-color: rgb(255, 230, 0);
                text-align: center;
                cursor: pointer;" [ngClass] = "{'even-button': even}">Comprar</button>
            </div>
        </div>
        
    </div>
  