
    <div class="ppal">
    
        <div class="card" >   
            <button type="button" class="close" (click)="deleteBook(bucleBooks)">X</button>         
            <div >
                <img src="{{bucleBooks.photo}}" alt="">
            </div>
            <div>
                <p>{{bucleBooks.type}}</p>
            </div>
            <div>
                <h2>{{bucleBooks.title}}</h2>
                <p>{{bucleBooks.author}}</p>
                <p>Id: {{bucleBooks.id_book | idToString }} </p>
            </div>
            <div >
                <p>{{bucleBooks.price}} €</p>
                <button>Comprar</button>
            </div>
        </div>
    </div>
  