
    <div class="ppal">
       
        <div class="card" >   
            <button type="button" class="close" (click)="deleteBook(bucleBooks)">X</button>  
                   
            <div >
                <img src="{{bucleBooks.photo}}" alt="">
            </div>
            <div>
                <p class="p">{{bucleBooks.type}}</p>
            </div>
            <div>
                <h2 class="h2">{{bucleBooks.title}}</h2>
                <p class="p">{{bucleBooks.author}}</p>
                <p class="p">Id:{{bucleBooks.id_book | idToString }} </p>
            </div>
            <div >
                <p class="p">{{bucleBooks.price}} €</p>
                <button class="btn" [ngClass] = "{'even-button': even}">Comprar</button>
            </div>
        </div>
        
    </div>
  