.ppal{
    
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    width: 250px;
    height: fit-content;
    margin: 40px;
}

.card{
    
    border: 3px solid orangered;
    border-radius: 30px;
    color:white;
    width: 250px;
    height: 460px;
    text-align: center;
    padding: 20px;
}

.close{
    width: 20px;
    height: 20px;
    font-size: 15px;   
    margin-bottom: 10px; 
}

div p{
    text-align: left;
}

div h2{
    text-align: left;
}


button{
    border: yellow;
    border-radius: 15px;
    color:rgb(255, 0, 0);
    font-weight: bold;
    font-family: var(--fontRubik);
    font-size: 20px;
    width: 200px;
    height: 40px;
    background-color: rgb(255, 230, 0);
    text-align: center;
    cursor: pointer;
}

button:hover{
    background-color: blue;
    color:white;
}

.even-button{
    background-color: white;
}

