.general{
    background-color: var(--background-orange);
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.ppal{
    border: 3px solid orangered;
    border-radius: 30px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 90%;
}
h1{
    font-family: var(--fontRubik);
    text-align: center;
    font-size: 35px;
}
p{
    font-family: var(--fontRubik);
    text-align: center;
    font-size: 25px;
    padding: 15px;
}
h3{
    font-family: var(--fontRubik);
    text-align: center;
    font-size: 30px;
}