<div class="general">
    <div class="ppal">
        <div *ngIf="myBooks.length === 0"> No hay libros </div>
        <div class="card" *ngFor="let book of myBooks; let even = even">            
            <div >
                <img src="{{book.photo}}" alt="">
            </div>
            <div>
                <p>{{book.type}}</p>
            </div>
            <div>
                <h2>{{book.title}}</h2>
                <p>{{book.author}}</p>
                <p>Id: {{book.id_book | idToString }} </p>
            </div>
            <div >
                <p>{{book.price}} €</p>
                <button [ngClass] = "{'even-button': even}">Comprar</button>
            </div>
        </div>
    </div>    
</div>
<div class="general">
    
    <form action="">
        <h2>AÑADE TU LIBRO</h2>
        <input type="text" placeholder="Titulo" #input1>
        <input type="text" placeholder="Tapa dura o blanda" #input2>
        <input type="text" placeholder="Autor" #input3>
        <input type="text" placeholder="Precio" #input4>
        <input type="text" placeholder="Photo" #input5>
        <input type="text" placeholder="Codigo de Libro" #input6>
        <button type="button" (click)="addBook(input1.value, input2.value, input3.value, input4.value, input5.value, input6.value)">Add Book</button>
    </form>
</div>
