<div class="general">    
    <form action="">
        <h2>ACTUALIZA UN LIBRO</h2>
        <input type="text" placeholder="Titulo" #input1>
        <input type="text" placeholder="Tapa dura o blanda" #input2>
        <input type="text" placeholder="Autor" #input3>
        <input type="text" placeholder="Precio" #input4>
        <input type="text" placeholder="Photo" #input5>
        <input type="text" placeholder="Codigo de Libro" #input6>
        <button type="button">Modify Book</button>
    </form>
</div>