<div class="general">
    <div class="ppal">
    <div class="imagen">
        <img class="img" src="{{miUser.photo}}">
    </div>
    <div class="nombre">
        <h3>{{miUser.name}} {{miUser.last_name}}</h3>
    </div>
    <div class="datos">
        <p><b>Nombre</b></p>
        <p>{{miUser.name}}</p>
        <p><b>Apellido</b></p>
        <p>{{miUser.last_name}}</p>
        <p><b>Email</b></p>
        <p>{{miUser.email}}</p>
    </div>
    </div>
    <div class="ppal">
        <form action="">
        <div><h2>EDITAR DATOS</h2></div>
        <input type="text" value="{{miUser.name}}" #input1>
        <input type="text" value="{{miUser.last_name}}" #input2>
        <input type="text" value="{{miUser.email}}" #input3>
        <input type="text" placeholder="url" #input4>
        <button type="button"(click)="enviar(input1.value, input2.value, input3.value, input4.value)">Apply</button>
    </form>
    </div>
</div>
