.general{
    background-color: var(--background-orange);
    width: 100vw;
    height: 80vh;    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.ppal{
    border: 3px solid orangered;
    border-radius: 30px;
    width: 35vw;
    height: 75vh;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img{
    
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.nombre{
    
    color: white;
    font-family: var(--fontReggae);
    font-size: 25px;
}
.datos{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 25vw;
    height: 40vh;
    font-family: var(--fontReggae);
    font-size: 15px;
}
p{
    width: 40%;
}
h2{
    color: white;
    font-size: 30px;
    font-family: var(--fontRubik)
}
form{
    
    border-radius: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input{
    width: 70%;
    height: 10%;
    background-color: rgb(255, 219, 152);
    text-align: center;
    font-family: var(--fontReggae);
}
button{
    border: yellow;
    border-radius: 15px;
    color:rgb(255, 0, 0);
    font-weight: bold;
    font-family: var(--fontRubik);
    font-size: 20px;
    width: 75%;
    height: 10%;
    background-color: rgb(255, 230, 0);
    text-align: center;
    cursor: pointer;
}

button:hover{
    background-color: blue;
    color:white;
}
